.box-with-shadow {
  color: var(--blue-primary);
  background-color: var(--grey-primary);
  margin-top: 0;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  box-shadow: var(--shadow-primary);
}

.selector-container {
  width: 100%;

  select {
    cursor: pointer;
    width: 100%;
    margin-right: 10px;

    option {
      cursor: pointer;
    }
  }

  button {
    cursor: pointer;
  }
}
