<footer>

    <div class="footerMobilcontainer">
        <a routerLink="/location" href="/location">
            @if(isActive('/location')){

                <img src="../../../assets/icons/serviceVehicleIcon.svg" alt="" height="35px">
            }@else {

                <img src="../../../assets/icons/serviceVehicleIconGray.svg" alt="" height="35px">
            }
        </a>

        <a routerLink="/carpool">
            @if(isActive('/carpool')){
                <img src="../../../assets/icons/infosIcon.svg" alt="" height="35px"/>
            }@else {
                <img src="../../../assets/icons/carpoolIconGray.svg" alt="" height="35px">
            }
        </a>

        <a routerLink="/infos">
            @if(isActive('/infos')){
                <img src="../../../assets/icons/infosIcon.svg" alt="" height="35px"/>
            }@else {
                <img src="../../../assets/icons/infosIconGray.svg" alt="" height="35px"/>
            }
        </a>
    </div>

    <img src="assets/images/carShareLogoBig.png" alt="" class="footerCarShareLogoBig" height="110px">
    <div class="footerContent">
        <div class="containers">
            <h3>Nous suivre</h3>
            <ul class="elementWithLogo">
                <li>
                    <img src="assets/icons/facebookIcon.svg" alt="" height="20px">
                    <p>Facebook</p>
                </li>
                <li>
                    <img src="assets/icons/instagramIcon.svg" alt="" height="20px">
                    <p>Instagram</p>
                </li>
                <li>
                    <img src="assets/icons/xIcon.svg" alt="" height="20px">
                    <p>X</p>
                </li>
            </ul>
        </div>
        <div class="containers">
            <h3>A propos</h3>
            <ul>
                <li>Qui sommes nous ?</li>
                <li>FAQ</li>
            </ul>
        </div>
        <div class="containers">
            <h3>Contacts</h3>
            <ul>
                <li>contact{{'@'}}carshare.com, 04 00 00 00 01</li>
                <li>
                    1 rue du Lion <br>
                    34000, Montpellier <br>
                    Occitanie, France
                </li>
            </ul>
        </div>
    </div>
</footer>