<footer>
    <img src="assets/images/carShareLogoBig.png" alt="" height="110px">
    <div class="footerContent">
        <div class="containers">
            <h3>Nous suivre</h3>
            <ul class="elementWithLogo">
                <li>
                    <img src="assets/icons/facebookIcon.svg" alt="" height="20px">
                    <p>Facebook</p>
                </li>
                <li>
                    <img src="assets/icons/instagramIcon.svg" alt="" height="20px">
                    <p>Instagram</p>
                </li>
                <li>
                    <img src="assets/icons/xIcon.svg" alt="" height="20px">
                    <p>X</p>
                </li>
            </ul>
        </div>
        <div class="containers">
            <h3>A propos</h3>
            <ul>
                <li>Qui sommes nous ?</li>
                <li>FAQ</li>
            </ul>
        </div>
        <div class="containers">
            <h3>Contacts</h3>
            <ul>
                <li>contact{{'@'}}carshare.com, 04 00 00 00 01</li>
                <li>
                    1 rue du Lion <br>
                    34000, Montpellier <br>
                    Occitanie, France
                </li>
            </ul>
        </div>
    </div>
</footer>