<div *ngIf="vehiculeRent">
  <div class="vehiculeCard">
    <div class="vehiculeDesc">
      <ul>
        <li class="listCardTitle">{{ vehiculeRent.brandName }} {{ vehiculeRent.modelName }}</li>
        <li>Immatriculation : {{ vehiculeRent.immatriculation }}</li>
        <li>Marque : {{ vehiculeRent.brandName }}</li>
        <li>Modèle : {{ vehiculeRent.modelName }}</li>
        <li>Catégories : {{ vehiculeRent.categoryName }}</li>
        <li>Motorisation : {{ vehiculeRent.motorizationName }}</li>
        <li>CO2/Km : {{ vehiculeRent.cO2 }}</li>
        <li>Nombre de places : {{ vehiculeRent.seatsNumber }}</li>
      </ul>
    </div>
    <div class="imageCard">
      <img [src]="getImageUrl(vehiculeRent)" alt="vehicule_Picture">
    </div>
  </div>
</div>
<div *ngIf="!vehiculeRent">
  <p>Véhicule introuvable.</p>
</div>