.vehiculeCard{
  width: auto;
  border: solid black 1px;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  padding: 1rem;
  font-size: 10px;
}

.listTitle{
  list-style: none;
  font-size: 1rem;
  font-weight: bolder;
}

.vehiculeDesc
{
  display: flex;
  gap: 3rem;
}

img
{
  border: solid blue 2px;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 10rem;
}
