


<div class="selector-container flex">
    <select name="brand" id="brandInput" class="box-with-shadow" (change)="onCategorySelected()" [(ngModel)]="selectedCategoryId">
        <option value="null" style="color: black;">Catégorie</option>
        @for (category of categories$ | async; track $index) {
            <option value="{{category.id}}">{{category.name}} - {{category.SeatsNumber}} places</option>
        }
    </select>

    <button (click)="onClick()" class="box-with-shadow" >add</button>
    
   
</div>
@if(formIsActive){
     
    <form [formGroup]="modelForm" (submit)="create($event)">
        <p>Ajouterd une categorie</p>
        <input type="text" placeholder="Nom de la categories formControl" formControlName="Name">
        <input type="number" placeholder="Nombre de place" formControlName="SeatsNumber">

        <div class="flex">
            <button type="button" (click)="onClick()">Annuler</button>
            <button type="submit" >Valider</button>
        </div>

    </form>
}