<div>
  <div class="titleVehiculebox">
    <h1 class="titleVehicule">Véhicules de Service</h1>
  </div>
  <div class="searchVehiculeBox">
    <h2 class="searchBoxTitle">Filtres</h2>
    <div class="marqueInput">
      <strong class="marqueInputBox">Marque </strong>
      <mat-form-field>
        <select title="select" matNativeControl id="mySelectMarqueId" class="selectBox">
          <option *ngFor="let vehicle of vehicles$ | async; let i = index" [value]="vehicle.brandName">
            {{ vehicle.brandName }}
          </option>
        </select>
      </mat-form-field>
    </div>
    <div class="immatInput">
      <strong class="immatInputBox">Immatriculation </strong>
      <mat-form-field>
        <select title="select" matNativeControl id="mySelectImmatId" class="selectBox">
          <option *ngFor="let vehicle of vehicles$ | async; let i = index" [value]="vehicle.immatriculation">
            {{ vehicle.immatriculation}}
          </option>
        </select>
      </mat-form-field>
    </div>
  </div>
  <div *ngFor="let vehicle of vehicles$ | async; let i = index">
    <div class="vehiculeCard">
      <div class="vehiculeCradTop">
        <div class="vehiculeDesc">
          <h2 class="listCardTitle">Véhicule {{ i + 1 }}</h2>
          <ul>
            <li><strong>VehicleId:</strong> {{ vehicle.vehicleId }}</li>
            <li><strong>Brand Name:</strong> {{ vehicle.brandName }}</li>
            <li><strong>Model Name:</strong> {{ vehicle.modelName }}</li>
            <li><strong>Category Name:</strong> {{ vehicle.categoryName }}</li>
            <li><strong>Motorization Name:</strong> {{ vehicle.motorizationName }}</li>
            <li><strong>State Name:</strong> {{ vehicle.stateName }}</li>
            <li><strong>Picture URL:</strong> {{ vehicle.pictureUrl }}</li>
            <li><strong>Localization:</strong> {{ vehicle.localization | json }}</li>
            <li><strong>Color:</strong> {{ vehicle.color }}</li>
            <li><strong>Seats Number:</strong> {{ vehicle.seatsNumber }}</li>
            <li><strong>CO2:</strong> {{ vehicle.cO2 }}</li>
            <li><strong>Model Year:</strong> {{ vehicle.modelYear }}</li>
            <li><strong>Immatriculation:</strong> {{ vehicle.immatriculation }}</li>
          </ul>
        </div>
        <!-- Ajout de l'élément img pour afficher l'image depuis le dossier assets -->
        <div class="imageCard">
          <img alt="vehiculePicture" [src]="'assets/vehiculesPictures/' + vehicle.pictureUrl"
            alt="Image of {{ vehicle.brandName }} {{ vehicle.modelName }}">
        </div>
      </div>
      <div class="vehiculeButonBox">
        <button title="btnModifier" class="btnModifier">
          <mat-icon (click)="update(vehicle.vehicleId)">settings</mat-icon>
        </button>
        <button title="btnClose" class="btnClose">
          <mat-icon (click)="delete(vehicle.vehicleId)">delete</mat-icon>
        </button>
      </div>
    </div>

  </div>
</div>
