<div>
    <h1>Bienvenue sur CarShare</h1>
    <p>Veuillez vous connectez afin d’utiliser l’application </p>

    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit($event)">
        <input type="email" id="emailLoginForm"  formControlName="email" placeholder="Identifiant" >
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            Merci de renseigner un email valide.
        </div>

        <br>
        <input type="text" id="passwordLoginForm"  formControlName="password" placeholder="Mot de passe">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            Valid email is required.
        </div>

        <br>
        <button type="submit">Login</button>
    </form>
</div>
