<div class="reservation-container">
    <h3>Critères de réservations</h3>
    <div class="input-container">
        <label for="depart">Départ</label>
        <input type="date" id="depart" value="2024-05-25">
        <input class="time-select" type="time" id="depart-time" value="12:00">
    </div>
    <div class="input-container">
        <label for="retour">Retour</label>
        <input type="date" id="retour">
        <input class="time-select" type="time" id="retour-time" value="12:00">
    </div>
    <div class="input-container">
        <label for="categorie">Catégorie</label>
        <select id="categorie">
            <option value="0">Selectionnez une Catégorie</option>
        </select>
    </div>
    <div class="input-container">
        <label for="marque">Marque</label>
        <select id="marque">
            <option value="0">Selectionnez une marque</option>
        </select>
    </div>
    <div class="input-container">
        <label for="places">Nombre de places</label>
        <select id="places">
            <option value="0">Selectionnez un nombre de places</option>
            <option value="5">5</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
    <div class="confirmation">
        <button><i class="fas fa-check-circle"></i></button>
    </div>
</div>