<div class="reservation-container">
    <h3>Critères de réservations</h3>
    <form [formGroup]="filtreVehiclesForm" (submit)="onFormSubmit($event)">

        <app-date-picker (dateTimeOutput)="onDateDepartPicked($event)"></app-date-picker>
        <app-date-picker (dateTimeOutput)="onDateFinPicked($event)"></app-date-picker>
        <app-category-selector (categoryId)="onCategoryIdChange($event)"/>
        <app-motorization-selector (modelId)="onMotorizationIdChange($event)"/>
    
        <button type="button">Annuler</button>
        <button type="submit">Valider</button>
    
    </form>
</div>