<div class="reservation-container">
    <h3>Critères de réservations</h3>
    <div class="input-container">
        <label for="depart">Départ</label>
        <input type="date" id="depart" value="2024-05-25">
        <input type="time" id="depart-time" value="12:00">
    </div>
    <div class="input-container">
        <label for="retour">Retour estimé</label>
        <input type="date" id="retour">
        <input type="time" id="retour-time" value="12:00">
    </div>
    <div class="confirmation">
        <button><i class="fas fa-check-circle"></i></button>
    </div>
</div>