

<h1>Créer un compte</h1>



<form [formGroup]="registerForm" (submit)="onSubmit($event)" style="width: fit-content; margin-left: auto;margin-right: auto;">
    <input type="familyname" formControlName="firstname" placeholder="nom">
    <input type="givenname" formControlName="lastname" placeholder="prénom">
    <div style="display: flex; justify-content: center; width: 100%; margin: 10px 0 10px;">
        <input type="email" formControlName="emailLogin" placeholder="email">
    </div>
    <input type="password" formControlName="password" placeholder="mot de passe">
    <input type="password" formControlName="confirmPassword" placeholder="confirmation mot de passe">

    <br>

    <div style="display: flex; justify-content: center; width: 100%; margin: 10px 0 10px; gap: 10px;">
        <button>Annuler</button>
        <button>Valider</button>
    </div>

</form>