<div class="page">
  <div class="titleVehiculebox">
    <h1 class="titleVehicule">Réserver un véhicule de service</h1>
  </div>

  <div class="reservation-container">
    <h2>Détail de réservation</h2>

    <!-- Formulaire de réservation -->
    <form [formGroup]="reservationForm" (submit)="onSubmit()">
      <!-- Champ pour la date de départ -->
      <div class="pickupRowBox">
        <label for="pickupLabelDate">Départ :</label>
        <input title="startDate" class="startDate" id="startDate" formControlName="startDate" type="datetime-local" />
      </div>

      <!-- Champ pour la date de retour -->
      <div class="returnRowBox">
        <label for="returnLabelDate">Retour estimé :</label>
        <input title="returnDate" class="returnDate" id="returnDate" formControlName="returnDate"
          type="datetime-local" />
      </div>

      <!-- Carrousel de véhicules avec écoute de l'événement vehiculeSelected -->
      <div>
        <app-carousel-vehicule (vehiculeSelected)="onVehiculeSelected($event)"></app-carousel-vehicule>
      </div>

      <!-- Bouton de validation -->
      <div class="buttonBox">
        <button type="submit" title="btnValidate" class="btnValidate">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>