.vehiculeCard
{
  width: 96%;
  max-height: 15rem;
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 8px;
  gap: 2rem;
  border-radius: 10px;

  .imageCard{
    width: 40%;
  }
  .vehiculeDesc{
    margin-top: 1rem;
  }

}

  .btnNavCard{
    text-align: center;
  }

  button{
    margin: 0.5rem;
    border-radius: 50%;
    }

  .btnReserve{
    background-color: green;
    color: white;
  }

  .btnClose{
    background-color: red;
    color: white;
  }

  img{
    margin: auto;
    height: 6rem;
    margin-top: 1.5rem;
    border: solid yellow 2px;
    border-radius: 10px;
  }
  .listCardTitle{
    font-weight: bolder;
    font-size: 12px;
    margin-bottom: 1rem;
  }

  .cardRentCtegorie{
    margin: 0.5rem 0;
  }

  .carRentModel{
    margin-top: 0.5rem;
  }

