<c-carousel>
  <c-carousel-indicators></c-carousel-indicators>
  <c-carousel-inner>
    <c-carousel-item *ngFor="let vehicule of vehicules">
      <div class="vehiculeCard">
        <div class="vehiculeDesc">
          <ul>
            <li class="listCardTitle">{{ vehicule.brandName }} {{ vehicule.modelName }}</li>
            <li>Immatriculation : {{ vehicule.immatriculation }}</li>
            <li>Catégories : {{ vehicule.categoryName }}</li>
            <li>Motorisation : {{ vehicule.motorizationName }}</li>
            <li>CO2/Km : {{ vehicule.cO2 }}</li>
            <li>Nombre de places : {{ vehicule.seatsNumber }}</li>
          </ul>
        </div>
        <div class="imageCard">
          <img [src]="getImageUrl(vehicule)" alt="Image du véhicule" />
          <div class="btnNavCard">
            <button (click)="navigateToCarouselRent(vehicule.immatriculation)">
              Réserver
            </button>
          </div>
        </div>
      </div>
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
  <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
</c-carousel>