<swiper-container navigation="true">
  <swiper-slide *ngFor="let vehicule of vehicules; let i = index">
    <div class="vehiculeCard">
      <div class="vehiculeDesc">
        <ul>
          <li class="listCardTitle">{{vehicule.brandName}} {{vehicule.modelName}}</li>
          <li>{{vehicule.immatriculation}}</li>
          <li>Immatriculation : {{vehicule.immatriculation}}</li>
          <li>Marque : {{vehicule.brandName}}</li>
          <li>Modèle : {{vehicule.modelName}}</li>
          <li>Catégories : {{vehicule.categoryName}}</li>
          <li>Motorisation : {{vehicule.motorizationName}}</li>
          <li>CO2/Km : {{vehicule.cO2}}</li>
          <li>Nombre de places : {{vehicule.seatsNumber}}</li>
        </ul>
      </div>
      <div class="imageCard">
        <img [src]="getImageUrl(vehicule)" alt="vehicule_Picture">
      <div class="btnNavCard">
        <button title="btnReserve" class="btnReserve" (click)="navigateToCarouselRent(vehicule.immatriculation)">
          <mat-icon>check</mat-icon>
        </button>
        <button title="btnClose" class="btnClose">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      </div>
    </div>
  </swiper-slide>
</swiper-container>
