@use '@angular/material' as mat;

app-titlebox {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.localization-form-div{
    display : flex;
    justify-content: center;
    padding-top: 10px;
    padding-right: 10%;
}
.localization-form{
    padding: 0;
}

.car-form-div{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.car-form{
    display: flex;
    flex-direction: column;
}

.seats-form-div{
    display: flex;
    padding-top: 10px;
    justify-content: left;
}
.form-validation-div{
    justify-content: center;
    display: flex;
}

.form-group{
    display: flex;
    flex-direction: column;
}