<div class="homePage">

  <div class="homePageLogoBox">
    <img class="carshareLogo" src="assets/icons/LogoCarShareMiniFusion.svg" alt="logo CarShare" width="200px"
      height="200px">
    <p class="titleUnderLogo">CarShare</p>
  </div>
  <h1>Bienvenue sur Carshare</h1>
  <p class="homePageTextPresentation">
    L’application généreusement proposé par votre employeur pour tous vos besoins de
    déplacements professionels !!
  </p>
  <ul class="homePageYouCan">
    <li>- Vous pouvez réserver un véhicule en Cliquant sur Locations de la navbar</li>
    <li>- Vous pouvez voir vos réservation de véhicule en Cliquant sur Locations <del></del> la navbar</li>
    <li>- Vous pouvez réserver un covoiturage en Cliquant sur Covoiturages de la navbar</li>
    <li>- Vous pouvez voir vos réservation de covoiturage en Cliquant sur Covoiturages de la navbar</li>
  </ul>
</div>