

<div class="box-with-shadow">
    <h1>Mes covoiturages</h1>
</div>

<div class="titlebox box-with-shadow">
    <div class="en-tete" >Détails de réservation</div>

    <div class="select-container">
        
        <div class="flex">
            <p>Adresse départ</p>
            <select name="" id="" class="box-with-shadow" style="width: 100%;">
                <option value="null"> ville de départ</option>
            </select>
        </div>
        <div class="flex">
            <p>Adresse arrivée</p>
            <select name="" id=""  class="box-with-shadow"  style="width: 100%;">
                <option value="">ville d'arrivée</option>
            </select>
        </div>

    </div>
        
    <div class="footer"></div>
</div>

<div style="width: 100%;">
    <img src="assets/images/fake.svg" alt="" width="100%">
</div>
<div style="width: 100%;">
    <img src="assets/images/fake.svg" alt="" width="100%">
</div>
<div style="width: 100%;">
    <img src="assets/images/fake.svg" alt="" width="100%">
</div>