<form [formGroup]="modelForm" class="createModelForm" (ngSubmit)="onModelSubmit($event)" novalidate>
  <h5 class="createModelPage">Créer un modele : </h5>
  <div class="nameBox mb-5">
    <label for="name" class="fromLabel">Modèle : </label>
    <input type="text" id="name" class="form-control" placeholder="Modèle du véhicule" formControlName="name">
    @if (modelForm.get('name')?.hasError('required') && modelForm.get('name')?.touched) {
    <div class="form-error">Model is required</div>
    }
  </div>
  <div class="co2Box mb-5">
    <label for="co2" class="fromLabel">Emission de CO2/km : </label>
    <input type="number" id="co2" class="form-control" placeholder="Emission de CO2/Km" formControlName="co2">
    @if (modelForm.get('co2')?.hasError('required') && modelForm.get('co2')?.touched) {
    <div class="form-error">Co2 is required</div>
    }
  </div>
  <div class="yearBox mb-5">
    <label for="year" class="fromLabel">Date de mise en circulation : </label>
    <input type="number" id="year" class="form-control" placeholder="Entre la date de mise en circulation"
      formControlName="year">
    @if (modelForm.get('year')?.hasError('required') && modelForm.get('year')?.touched) {
    <div class="form-error">Date de mise ne circulation is required</div>
    }
  </div>
  <div class="btnBox">
    <button type="submit" class="btnSubmit">Valider</button>
    <button type="button" class="btnCancel">Annuler</button>
  </div>
</form>
