.createModelPage{
  padding-top: 2rem;
}

.createModelForm{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 20rem;
  font-weight: bolder;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
}

label{
  margin-top: 1rem;
}
.btn{
  margin-top: 1rem;
}
